
.done-true {
  text-decoration: line-through;
  color: grey;
}

/* form valide and invalid highlight colors */
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
